@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
    padding: 0;
    background-color: $bg-light;
    height: 700px;
    
    .nav-links {
        display: flex;
        gap: 42px;
        padding-top: 79px;
        padding-left: 398px;
        
        @include respond-to(lg) {
            padding-left: 50px;
        }
        
        @include respond-to(md) {
            padding-left: 30px;
        }
        
        @include respond-to(sm) {
            padding-left: 15px;
            flex-direction: column;
            gap: 20px;
        }
    }
    
    .nav-link {
        color: $text-primary;
        text-decoration: none;
        font-size: $text-regular;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        
        &:hover {
            color: $primary-color;
        }
    }
} 