@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.stats {
    padding: 100px 0;
    background-color: $primary-color;
    height: 250px;
    
    &-container {
        max-width: 1110px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 30px;
        padding: 0 15px;
        
        @include respond-to(lg) {
            max-width: 960px;
            gap: 20px;
        }
        
        @include respond-to(md) {
            max-width: 720px;
            grid-template-columns: repeat(3, 1fr);
        }
        
        @include respond-to(sm) {
            max-width: 540px;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    &-item {
        color: $white;
        text-align: center;
        
        span {
            display: block;
            font-size: 21px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        
        p {
            font-size: 14px;
            line-height: 1.2;
        }
    }
    
    &-icon {
        width: 50px;
        height: 40px;
        margin-bottom: 20px;
    }
    
    @include respond-to(md) {
        height: auto;
        padding: 60px 0;
    }
} 